<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <a href= "/addpost">Post</a>
        <a href="/">Main page</a>
        <a href="/signup">Create Account</a>
        <a href="/logout">Log Out</a>
        <a href="login">Log In</a>
        <a href="/index">User List</a>
        <style type="text/css">
            .title {
                font-size: x-large;
                font-weight: bold;
            }
        </style>
    </head>
<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    
    {% block content %}
    {% endblock %}

</body>
</html>